body 
{
  font-size:11pt;
  font-family:Verdana;
background-color:ThreeDShadow;
  
}
.back
{
    background-image:url(CompanyAdminImg/Background.JPG);
 background-repeat:repeat-x;
 border-left-color: black; border-bottom-color: black;
 border-top-style: solid; border-top-color: black; border-right-style: solid;
 border-left-style: solid; border-right-color: black; border-bottom-style: solid;          
}
.head
{
     background-image:url(CompanyAdminImg/HeaderStrip.JPG);
     background-repeat:no-repeat;
     border-left-color: black; border-bottom-color: black;
     border-top-style: solid; border-top-color: black; border-right-style: solid;
     border-left-style: solid; border-right-color: black; border-bottom-style: solid;
        
}
.foot
{
    background-image:url(CompanyAdminImg/Footer.JPG);
    background-repeat:repeat-x;
    border-left-color: black; border-bottom-color: black; border-top-style: solid;
    border-top-color: black; border-right-style: solid; border-left-style: solid;
    border-right-color: black; border-bottom-style: solid; vertical-align: middle;
    text-align: center;                                                                                    
   
}
.redstr
{
    background-image:url(CompanyAdminImg/RedStrip.JPG);
    background-repeat:repeat-x;
    vertical-align: top; text-align: left; border-left-color: black;
    border-bottom-color: black; border-top-style: solid; border-top-color: black;
    border-right-style: solid; border-left-style: solid; border-right-color: black;
    border-bottom-style: solid;                
}

.nev2 
{
    float:left; 
    width:100%; 
    height:35px; 
    border:none;  
    color:#dfd2c0; 
    font-size:1.0em;
    font-size:95%;
} /*Color navigation bar normal mode*/
.nev2 ul 
{
    list-style-type:none;
    }
.nev2 ul li 
{
    float:left;
    position:relative;
    z-index:999; 
    border-right:solid 1px rgb(175,175,175);
    }
.nev2 ul li ul 
{
    display:none; 
    border:none;
    }
.nev2 ul li ul 
{
    margin-left:-30px; 
    padding:0 30px 30px 30px;
} /*Sticky hover zones*/
.nev2 ul li a
{
    float:none; 
    display:block; 
    height:0.6em; 
    line-height:0.0em; 
    padding:10px 10px 10px 10px; 
    text-decoration:none; 
    font-weight:normal; 
    color: #000000;
}
.nev2 ul li:hover 
{
    width:Auto; 
    height:auto;
}
.nev2 table 
{
    position:relative; 
    z-index:999; 
    top:0; 
    left:0; 
    border-collapse:collapse;
}

/*Non-IE6*/
.nev2 ul li:hover a 
{
    background-color:#dfd2c0; 
    text-decoration:none;
    } /*Color main cells hovering mode*/
.nev2 ul li:hover ul 
{
    display:block; 
    position:absolute; 
    z-index:777; 
    top:2.2em; 
    margin-top:0.1em; 
    left:0;
}
.nev2 ul li:hover ul li ul 
{
    display: none;
}
.nev2 ul li:hover ul li a 
{
    display:block; 
    width:10.5em; 
    height:auto; 
    line-height:1.2em; 
    margin-left:-1px; 
    padding:2px 8px 2px 8px; 
    border-left:solid 1px rgb(120,140,160); 
    border-bottom: solid 1px rgb(120,140,160); 
    background-color:#fff5ee; 
    font-weight:normal; 
    color:rgb(50,50,50);} /*Color subcells normal mode*/
.nev2 ul li:hover ul li a:hover 
{
    background-color:#ffcc99; 
    text-decoration:blink;} /*Color subcells hovering mode*/

/*IE6*/
.nev2 ul li a:hover 
{
    background-color:#dfd2c0; 
    text-decoration:none;
    } /*Color main cells hovering mode*/
.nev2 ul li a:hover ul 
{
    display:block; 
    position:absolute;
    z-index:997; 
    top:3.1em; 
    top:3.0em; 
    left:0; 
    margin-top:0.1em;
    }
.nev2 ul li:hover ul li a 
{
    display:block;
    width:10.5em; 
    height:auto; 
    line-height:1.2em; 
    margin-left:-1px; 
    padding:2px 8px 2px 8px; 
    border-left:solid 1px rgb(120,140,160); 
    border-bottom: solid 1px rgb(120,140,160); 
    background-color:#fff5ee; 
    font-weight:normal; 
    color:rgb(50,50,50);
    } /*Color subcells normal mode*/
.nev2 ul li a:hover ul li a ul 
{
    visibility:hidden; 
    height:0px; 
    width:0px; 
    position:absolute; 
    z-index: 997;}
.nev2 ul li a:hover ul li a:hover 
{
    background-color:#dfd2c0; 
    text-decoration:blink;
    } /*Color subcells hovering mode*/
